body {
	background:white;
	/*font-family:'Trebuchet MS',Verdana,sans-serif;*/
	font-family:sans-serif;
	text-align:justify;
	margin-bottom:50px;
	}

:link { color:#506758; }

/* tables */
table { border-style:none; }
td { vertical-align:top; }
.screentable { text-align:center; }
.td_header { vertical-align:middle;
	     padding-left:15px;
	}

/* lists */

UL { padding-left:1em; 
   }

UL LI {
	margin:0.5em 0.5em 0.5em 0.5em;
}

OL LI {
	margin:0.5em 0.5em 0.5em 0.5em;
}

UL.nice { list-style-type:none; }

UL.nice LI {
        background: #F0F8FF;
	border: 1px solid #708090;
	padding:0.5em 0.5em 0.5em 0.5em;
}

OL.nice LI {
        background: #F0F8FF;
	border: 1px solid #708090;
	padding:0.5em 0.5em 0.5em 0.5em;
	list-style-type:lower-roman;
}

DT { font-weight:bold; }

H1 {
	font-family: serif;
}

.news {
	background-color:#E0F060
	}

#news-box {
  margin-top: 2em;
  margin-right: 35%;
  padding: .5em; 
  border: 3px solid #708090;
  font-size:smaller;
}

.highlight {
	font-weight:bold;
/*	background-color:#E0F060;*/
}

.smaller_font {
	font-size:smaller;
}

code {
	text-align:left;
	color:#000080;
}

pycode {
	text-align:left;
	color:#000080;
	margin-left:2em;
	font-weight:bold;
}

pre.literal-block {
  overflow: auto;
  background: #f9c852; 
  padding: .5em; 
  margin: 1em;
  border: 1px solid #708090;
}

.pycomment {
	color:maroon;
	font-weight:bold;
}

.faqquest {
	font-size:larger;
	font-weight:bold;
}

.faqansw {
	font-style:normal;
}

.faqcit {
	text-align:justify;
	font-size:smaller;
	font-style:italic;
	padding:0.5em 0.5em 0.5em 0.5em;
}

.soft {
	font-weight:bold;
}

#header {
	background:#f9c852;
	text-align:center;
        border: 1px solid #708090;
	padding:5px;
	text-decoration:none;
	font-size:250%;
	font-weight:bold;
	/*margin-left:3.5em;*/
}

IMG.whiteb  { 	
	border-width:2px;
	border-color:white;
	border-style:solid;
 }

#sidebar {
/*	top:auto;
    position:fixed;
	text-align:left; */
	margin-top:2em;
    width:8em;
	float:left;
}

.abox {
	background:#f9c852;
	padding:3px;
	margin:0px;
	margin-bottom:-1px;
	width:inherit;
	text-align:center;
        border: 1px solid #708090;
}

DIV.abox > A {
	color:black;
 	text-decoration:none;
}

#container {
	padding-right:30px;
	padding-left:30px;
	margin-right:auto;
	margin-left:auto;
	max-width:800px; 
}

#content {
    margin-left:10em;
}

#footer {
}
