{% extends "!layout.html" %}


    {# remove the index, search and contents links in the relbars #}
    {% block rootrellink %}{% endblock %}


    {# add mdp logo to the top relbar #}
    {% block relbar1 %}

    <div style="background-color: slategrey; text-align: right; padding: 10px 10px 15px 15px">
    <a href="{{ pathto('index') }}"><img src="{{
    pathto("_static/logo.png", 1) }}" border="0" alt="sampledoc"/></a>    
    {{ super() }}
    {% endblock %}

    {# remove the lower relbar #}
    {% block relbar2 %}{% endblock %}

    {# put the sidebar before the body #}
    {% block sidebar1 %}{{ sidebar() }}{% endblock %}
    {% block sidebar2 %}{% endblock %}

    {% block sidebartoc %}{% endblock %}

    {% block sidebarrel %}{% endblock %}

    {# modify the search bar in the sidebar #}
    {% block sidebarsearch %}
    <h3>{{ _('Navigation') }}</h3>
        {{ toctree() }}
        <!-- SiteSearch Google -->
        <h3>{{ _('Quick search') }}</h3>
        <form method=GET action="http://www.google.com/search">
        <input type=text name=q size=25 maxlength=255 value="">
        <input type=submit name=btnG value="Google Search Site">
        <input type=hidden name=domains value="http://mdp-toolkit.sourceforge.net"><br>
        <input type=hidden name=sitesearch value="http://mdp-toolkit.sourceforge.net"> <br>
        </form>
        <!-- SiteSearch Google -->
    {% endblock %}
