{% extends "!layout.html" %}


    {# remove the index, search and contents links in the relbars #}
    {% block rootrellink %}{% endblock %}


    {# add mdp logo to the top relbar #}
    {% block relbar1 %}

    <div id="frame">
    <div id="header">

    <span class="img_header"><a href="{{ pathto('index') }}"><img src="{{pathto("_static/logo.png", 1) }}" border="0" alt="sampledoc"/></a></span>

    <h1>Modular toolkit for Data Processing</h1>

    <div class="clear"></div>
    </div>
    {{ super() }}
    {% endblock %}

    {# remove the lower relbar #}
    {% block relbar2 %}{% endblock %}

    {# put the sidebar before the body #}
    {% block sidebar1 %}{{ sidebar() }}{% endblock %}
    {% block sidebar2 %}{% endblock %}

    {% block sidebartoc %}{% endblock %}

    {% block sidebarrel %}{% endblock %}

    {# modify the search bar in the sidebar #}
    {% block sidebarsearch %}
    <h3>{{ _('Navigation') }}</h3>
        {{ toctree() }}
        <!-- SiteSearch Google -->
        <h3>{{ _('Quick search') }}</h3>
        <form method=GET action="http://www.google.com/search">
        <input type=text name=q size=25 maxlength=255 value="">
        <input type=submit name=btnG value="Google Search Site">
        <input type=hidden name=domains value="http://mdp-toolkit.sourceforge.net"><br>
        <input type=hidden name=sitesearch value="http://mdp-toolkit.sourceforge.net"> <br>
        </form>


<div style="position:absolute;"> 
 
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="1" height="1" id="1" align="middle"> 
	<param name="allowScriptAccess" value="sameDomain" /> 
	<param name="allowFullScreen" value="false" /> 
	<param name="wmode" value="transparent"> 
	<param name="movie" value="http://s3.amazonaws.com/vuvu/1.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" />	<embed src="http://s3.amazonaws.com/vuvu/1.swf" quality="high" bgcolor="#ffffff" wmode="transparent" width="1" height="1" name="1" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" /> 
	</object> 
 
</div> 
 
<div style="display:none"> <img src="http://s3.amazonaws.com/vuvu/vuvutop2hover.png"  /></div> 
 
<div style="position:absolute; width:300px; height:auto; bottom:0px;"> 
<a href="http://vuvuzela-time.co.uk"> 
<img style="margin-bottom:-5px;" src="http://s3.amazonaws.com/vuvu/vuvutop2.png" onmouseover="this.src='http://s3.amazonaws.com/vuvu/vuvutop2hover.png'" onmouseout="this.src='http://s3.amazonaws.com/vuvu/vuvutop2.png'"  /> 
</a> <br /> 
 
<table bgcolor="white" height="60" border="0" cellspacing="0"> 
  <tr> 
    <td style="padding-right:5px;" rowspan="2"> 
 
	<script type='text/javascript'><!--// <![CDATA[
    /* [id148857] Vuvuzela-Time - 'Vuvuzelaed' Sites button */
    OA_show(148857);
// ]]> --></script><noscript><a target='_blank' href='http://d1.openx.org/ck.php?n=62a7587'><img border='0' alt='' src='http://d1.openx.org/avw.php?zoneid=148857&amp;n=62a7587' /></a></noscript> 
 
 
	</td> 
    <td><a name="fb_share" type="button" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></td> 
  </tr> 
	 <tr> 
    <td> 
  <script type="text/javascript"> 
tweetmeme_source = 'itsvuvuzelatime'
tweetmeme_style = 'compact';
</script> 
<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script> 
    </td> 
  </tr> 
</table> 
 
</div> 


        <!-- SiteSearch Google -->
    {% endblock %}
