{% extends "!layout.html" %}
{# set title manually for homepage#}
{%- if pagename == 'index' %}
{% set title= 'Homepage' %}
{%- endif %}

{% block extrahead %} 
<meta name="viewport" content="width=740" />
{% endblock %} 

{# remove the index, search and contents links in the relbars #}
{% block rootrellink %}{% endblock %}
{# add mdp logo to the top relbar#}
{% block relbar1 %}
<div id="header">
    <table width="100%">
	<tr>
	    <td class="td_header_left">
		<a href="http://mdp-toolkit.sourceforge.net">
		    Modular toolkit for<br />Data Processing
		</a>
	    </td>
	    <td class="td_header_right">
		<a href="{{pathto('examples/logo/logo_animation')}}">
		    <img src="{{pathto('_static/logo.png',1)}}" alt="MDP logo"
			 title="click to see the animated logo!" class="img_header"/>
		</a>
	    </td>
	</tr>
    </table>
    <div class="clear"></div>
</div>
{% endblock %}

{# remove the lower relbar#}
{% block relbar2 %} {% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

{% block sidebartoc %}{% endblock %}

{% block sidebarrel %}{% endblock %}

{# modify the search bar in the sidebar #}
{% block sidebarsearch %}
<div class="navigation_title"><a href="{{pathto('index')}}">Home</a></div>
{{ toctree(includehidden=True) }}
{% endblock %}
{% block document %}
   {# add relbar only for tutorial within the body #}
   {%- if pagename[:8] == 'tutorial' %}
        {{ relbar() }}
   {%- endif %}
   {{ super() }}
   {%- if pagename[:8] == 'tutorial' %}
        {{ relbar() }}
   {%- endif %}
{% endblock %}
{% block footer %} 
<div class="footer">
    <hr />
    <table>
      <tr>
        <td class="footer-left">
           <a href="https://github.com/mdp-toolkit/mdp-toolkit">
 <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png"
      width="60" height="15" border="0"/> </a>
        </td>
        {%- if last_updated %}
        <td class="footer-center">
          {% trans last_updated=last_updated|e %}Last updated on
             {{ last_updated }}{% endtrans %}
        </td>
        {%- endif %}
        <td class="footer-right">
         <form class="search" action="{{ pathto('search') }}" method="get">
          <input type="submit" value="{{ _('Search') }}" />
          <input type="text" name="q" size="18" />
          <input type="hidden" name="check_keywords" value="yes" />
          <input type="hidden" name="area" value="default" />
         </form>
        </td>
    </table>  
</div>   
{% endblock %}
